@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';

@theme {
  /* Light Mode Varsayılan */
  --color-background: hsl(0, 0%, 99%);
  --color-elements: hsl(0, 100%, 100%);
  --color-text: hsl(200, 15%, 8%);
  --color-input: hsl(0, 0%, 50%);
}

html {
  font-family: "Nunito Sans", sans-serif;
  &.dark {
    --color-background: hsl(207, 26%, 17%);
    --color-elements: hsl(209, 23%, 22%);
    --color-text: hsl(0, 100%, 100%);
    --color-input: hsl(0, 0%, 50%);
  }
}